body {
  overflow-x: hidden;
}

#sec1 {
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: absolute;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 5%;
  z-index: 50;
}

.login-box {
  position: relative;
  padding: 50px;
  width: 300px;
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}


.login-title {
  font-family: 'BatmanForeverOutline', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  color: #f1c40f;
}

.login-h2{
  color: #f1c40f;
}

label {
  font-size: 14px;
  color: #ccc;
}

.username-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input{
  flex: 1;
  padding-right: 40px;
}


.toggle-password-icon{
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.toggle-password-icon:hover {
  color: #000;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #f1c40f;
  border: none;
  border-radius: 5px;
  color: #111;
  font-size: 15px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #e67e22;
}

.login-btn:active {
  background-color: #d35400;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f1c40f;
  color: #111;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.close-btn:hover {
  background-color: #e67e22;
}

.close-btn:active {
  background-color: #d35400;
}


.success-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-family: 'BatmanForeverOutline', sans-serif;
  font-weight: bold;
}

@media (max-width: 1024px) {
  #sec1 {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .login-container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
  }

  .login-box {
    position: relative;
    padding: 50px;
    width: 250px;
    background-color: #1f1f1f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
}