html {
  scroll-behavior: smooth;
}

body{
  background-color: #010101;
}

.header_menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
  width: 100vw;
  z-index: 10;
}

.nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 100px;
}

.nav li {
  cursor: pointer;
  font-family: 'BatmanForeverOutline', sans-serif;
  font-weight: bold;
}

.logoWayne {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'BatmanForeverOutline', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.logoWayne img {  
  width: 130px;
  padding-left: 50px;
}

.sec1_menu {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

#bgvideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  opacity: 0.6;
}

#bg_mobile{
  display: none;
}

.welcome {
  font-size: 30px;
  font-family: 'BatmanForeverOutline', sans-serif;
  font-weight: bold;
  position: relative;
  z-index: 1;
  padding-left: 5%;
}

.textWelcome {
  position: relative;
  max-width: 80%;
  line-height: 1.5;
  font-size: 17px;
  z-index: 1;
  padding-left: 5%;
}

.containerWelcome{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 14%;
}

.containerAll{
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.containerButton{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
  padding-right: 20%;
  z-index: 1;
}

.containerButton button {
  font-family: 'International Super Hero', sans-serif;
  width: 150px;
  background: #000;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
}

.containerButton button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -300px;
  width: 150%;
  height: 100%;
  background: yellow;
  transition: left 0.5s ease;
  z-index: -1;
}

.containerButton button:hover::before {
  left: 0;
}

.containerButton button:hover {
  color: black;
}

.containerButton button span {
  position: relative;
  z-index: 1;
}

#footer_wayne_menu{
  font-family: 'International Super Hero', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  background-color: #1e1e1e;
}

.rodape{
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#contacts{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1024px) {


  .header_menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0px;
    width: 100%;
    z-index: 10;
  }
  
  .nav ul {
    padding-right: 0px;
  }

  .nav li {
    padding: 10px;
  }

  #bgvideo {
    display: none;
  }
  
  #bg_mobile{
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    opacity: 0.3;
  }
  
  .logoWayne {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'BatmanForeverOutline', sans-serif;
    font-weight: bold;
    font-size: 15px;
  }
  
  .logoWayne img {  
    width: 70px;
    padding-left: 0px;
    padding: 10px;
  }
  
  .sec1_menu {
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #fff;
  }
  
  .welcome {
    font-size: 16px;
    max-width: 90%;
    margin-top: 20%;
    padding-left: 3%;
  }
  
  .textWelcome {
    position: relative;
    max-width: 90%;
    line-height: 1.5;
    font-size: 13px;
    z-index: 1;
    padding-left: 3%;
  }
  
  .containerWelcome{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
  }
  
  .containerAll{
    display: flex;
    flex-direction: column;
    gap: 150px;
  }
  
  .containerButton{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
    padding-right: 10%;
    z-index: 1;
  }
  
  #footer_wayne_menu{
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .rodape{
    display: none;
  }

  #contacts{
    padding-left: 0px;
  }
}